<div class="row">
	<h4>Habilidades</h4>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Angular'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Java'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'SQL'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Inglés'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'Team Work'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
	<div class="col-sm-4 text-center">
		<circle-progress
            [percent]="5"
            [maxPercent]="1000"
            [radius]="80"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [backgroundStrokeWidth]="10"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fff'"
            [innerStrokeColor]="'#101010'"
            [animation]="true"
            [animationDuration]="300"
            [title]="'GitHub'"
            [titleColor]="'#fff'"
            [animationDuration]="600"
            [lazy]="false"
        ></circle-progress>
	</div>
</div>
<hr>
