<div class="row">
	<div class="col-md-10">
		<h3>Educación</h3>
		<ul>
			<li>
				<p class="encabezado">Estudio 1</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
			<li>
				<p class="encabezado">Estudio 2</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
			<li>
				<p class="encabezado">Estudio 3</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
		</ul>
	</div>
</div>
<hr>
