<div class="row">
	<div class="col-md-10">
		<h2>Experiencia</h2>
		<ul>
			<li>
				<p class="encabezado">Trabajo 1</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
			<li>
				<p class="encabezado">Trabajo 2</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
			<li>
				<p class="encabezado">Trabajo 3</p> - <p class="encabezado">Tiempo</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque, reprehenderit, iusto vero velit iure quisquam fuga ullam eligendi enim eos corrupti, dolor, aspernatur dolorum blanditiis nihil at natus quasi.</p>
			</li>
		</ul>
	</div>
</div>
<hr>