<div class="container-fluid">
<form class="form">
	<h2 id="form-title">Iniciar Sesión</h2>
	<p id="form-parrafo">Aun no tienes una cuenta? <a href="#" id="form-link">Entra aquí</a></p>

	<div class="form-container">
		<div class="form-group">
			<input type="text" id="name" class="form-input" placeholder=" ">
			<label for="name" class="form-label">Usuario</label>
			<span class="form-line"></span>
		</div>

		<div class="form-group">
			<input type="text" id="password" class="form-input" placeholder=" ">
			<label for="password" class="form-label">Contraseña</label>
			<span class="form-line"></span>
		</div>

		<input type="submit" class="form-submit" value="Ingresar">
	</div>
</form>
</div>